@font-face {
	font-family: "ruthless";
	src: url("../fonts/ruthless.ttf");
}

.container {
	width: 80%;
	max-width: 1260px;
	min-width: 780px;
	margin: 0 auto;
}

.videobutton {
	width: 70px;
	height: 70px;
	float: right;
}

.biobutton {
	width: 70px;
	height: 70px;
	float: right;
}

.discbutton {
	width: 70px;
	height: 70px;
	float: right;
}

.homebutton {
	width: 70px;
	height: 70px;
	float: right;
}

#indexheader {
	height: 240px;
	background-color: #001A23;
	background-position: center;
	text-align: center;
	font-size: 140px;
	font-family: 'ruthless';
	color: #40C9A2;
}

#bioheader {
	height: 240px;
	background-color: #001A23;
	background-position: center;
	text-align: center;
	font-size: 80px;
	font-family: "ruthless";
	color: #40C9A2;
}

#discheader {
	height: 240px;
	background-color: #001A23;
	background-position: center;
	text-align: center;
	font-size: 80px;
	font-family: "ruthless";
	color: #40C9A2;
}

#indeximageone {
	float: right;
}

#indeximagetwo {
	float: left;
}

#banner {
	height: 239px;
	width: 18%;
	float: left;
}

#bioimage1 {
	float: right;
}

#vid {
	vertical-align: top;
	margin: 0px 0px 0px 160px;
}

#belowvid {
	width: 210px;
	border: 9px lightgrey inset;
	float: right;
	margin: 0px 280px 0px 220px;
	padding: 4px;
}

#imgvid {
	float: right;
	margin: 0px 220px 0px 0px;
	padding: 10px;
}

#imgtwit {
	transform: rotate(10deg);
	width: 90px;
	height: 60px;
}

#imgfb {
	transform: rotate(-10deg);
	width: 90px;
	height: 60px;
}

#imginsta {
	transform: rotate(10deg);
	width: 90px;
	height: 60px;
}

#imgyt {
	transform: rotate(-10deg);
	width: 90px;
	height: 60px;
}

body {
	font-size: 20px;
	background-color: #000000;
}

nav {
	float: left;
	width: 18%;
	background-color: #001A23;
	color: #40C9A2;
}

section {
	float: right;
	width: 82%;
	background-color: #31493C;
	color: #40C9A2;
}

fig,figcaption {
	font-size: 16px;
}

td img {
	width: 180px;
	height: 180px;
}

tr,th,td {
	border-size: 2px;
	border-style: dotted;
	border-color: #000000 #FF0000;
	background-color: #FFFFFF;
	text-align: center;
	color: #FF6347;
	font-size: 16px;
	padding: 8px;
}

table {
	margin: 0 auto;
}

video {
	padding: 8px;
	width: 370px;
	height: 320px;
	vertical-align: middle;
}

ol li {
	list-style-position: inside;
	border: 2px red solid;
	padding: 8px;
	width: 120px;
	color: #FF6347;
	background-color: #FFFFFF;
	margin: 0 auto;
}

section:first-letter {
	font-family: optima sans-serif;
	font-size: 30px;
	font-weight: bolder;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}
/*
https://coolors.co/
https://i.redd.it/4writ2bx1fj01.jpg
https://i.imgur.com/eI3lN4j.jpg
https://i.redd.it/9prb7kfbdnk01.jpg
https://78.media.tumblr.com/e054f38ee71083ed3837b80731941d27/tumblr_ml27ci5s4T1rjolq5o1_500.jpg flava flav
https://i.redd.it/tdb7gg7x60e01.jpg
https://i.imgur.com/87R6bmN.jpg
https://www.reddit.com/r/OldSchoolCool/search?q=tupac&restrict_sr=on

 */